.cls-1 {
  letter-spacing: -0.01em;
}
.cls-2 {
  letter-spacing: -0.01em;
}
.cls-3 {
  fill: #facc15;
  stroke: #231f20;
  stroke-miterlimit: 10;
}
.cls-4 {
  letter-spacing: -0.06em;
}
.cls-5 {
  font-size: 22px;
}
.cls-5,
.cls-6 {
  fill: #231f20;
  font-family: DINCondensed-Bold, 'DIN Condensed';
  font-weight: 700;
}
.cls-6 {
  font-size: 18px;
}
.cls-1 {
  letter-spacing: -0.01em;
}
.cls-2 {
  letter-spacing: -0.01em;
}
.cls-3 {
  fill: #facc15;
  stroke: #231f20;
  stroke-miterlimit: 10;
}
#homeButton {
  animation: homeLoad 1s forwards;
}

@keyframes homeLoad {
  0% {
    transform: scaleY(0)
  }
  100% {

  }
}
